.project-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em; }
  .project-item .project-item-image {
      flex-shrink: 0;
      width: 450px;
      margin-right: 1em;
      margin-top: 1em; }
  .project-item .project-item-image .project-image {
        width: 450px;
        height: 250px;
        background-size: cover;
        background-position: 0% 0%;
        background-repeat: no-repeat;
        transition: ease 750ms background-position;
        margin-bottom: 1em;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
  .project-item .project-item-image .project-image:hover {
          background-position: 100% 100%; }
  .project-item .project-item-content {
      flex: 1; }
  .project-item:not(:last-child) {
      padding-bottom: 1em;
      border-bottom: 1px solid #efefef; }
  